/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

/* Default (Auto Theme) */
body {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

/* Light Theme */
body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Theme */
body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}